<!DOCTYPE html>
<html>
    <form action="/details" method="post">
        <input name="name" type="text" id="usr" placeholder="Name"/>
        <br/>
        <input name="email" type="text" id="email" placeholder="Email"/>
        <br/>
        <input name="comment" type="text" id="comment" placeholder="Comment"/>
        <br/>
        <input name="optradio" type="radio" value="male" value="male"/>male
        <input name="optradio" type="radio" value="male" value="female"/>female
        <br/>
        <button type="submit" name="submit">Submit</button>
    </form>
    <button type="button" onclick="history.back()"><i class="fa-solid fa-arrow-left-long"></i>&#160;&#160;Back</button>
</html>